img {
  height: 250px;
}

.on {
  color: gold;
}

.off {
  color: #ccc;
}

#star {
  border: none;
  background-color: white;
  font-size: 30px;
}

.col-lg-4 {
  text-align: center;
}
#delete{
  border: none;
  background-color: white;
}